body {
    background-color: rgb(155, 155, 167);
}

/* Picture */
.pic {
    text-align: center;
}

.pic-author {
    display: block;
    border: 7px solid #262b29;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 140px;
}

/* a */
a:link {
    color: white;
}

a:visited {
    color: white;
}

a.aauthor:hover, a.aauthor:active {
    color: black;
}

a.agithub-sponsor:hover, a.agithub-sponsor:active {
    color: black;
}

/* container */
.container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.pic-git-sponsor {
    display: block;
    width: 100px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
