body {
    background-color: rgb(190, 195, 211);
}

/* IMG-logo */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container div{
    color: white;
}

.container img {
    display: block;
    padding: 5px;
    padding-top: 20px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
}

.atext {
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {
        color: rgb(0, 0, 0);
    }
    25% {
        color: rgb(20, 151, 134)
    }
    50% {
        color: rgb(68, 66, 216);
    }
    75% {
        color: rgb(211, 111, 231);
    }
    100% {
        color: rgb(255, 255, 255);
    }
}

.img-logo {
    height: 50px;
    width: 50px;
}

/* a */
a:link, a:visited {
    color: white;
}

a:hover {
    color: blue;
}

/* Picture */
.picmy {
    text-align: center;
}

.picmy-o {
    border: 5px solid #555;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 140px;
}
