body {
    background-color: rgb(190, 195, 211);
    margin-top: 20vh;
}

/* IMG-logo */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container div{
    color: white;
}

.container img {
    display: block;
    padding: 5px;
    padding-top: 15px;
    margin: 0 auto;
    padding-right: 25px;
    padding-left: 25px;
}

.img-logo {
    height: 50px;
    width: 50px;
}

/* a */
a:link, a:visited {
    color: white;
}

a:hover {
    color: blue;
}
